{%extends 'structure.html'%} {%block maincontent%} {%if message|length %}
<div class="alert alert-success" role="alert">{{message}}</div>
{%endif%} 
{%if current_user.is_authenticated%}
<a class="justify-content-end d-flex" href="{{url_for('add_bank')}}" role="button"
  >Add new Bank</a>
{%if banks %}
<table class="table">
  <tr>
    <th>
      <div class="btn-group">
        <button type="button" class="btn btn-secondary">Select action</button>
        <button
          type="button"
          class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
          data-toggle="dropdown"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        ></button>
        <div class="dropdown-menu" id="command">
          <a class="dropdown-item" href="#">Delete selected records</a>
        </div>
      </div>
    </th>
    <th>Bank name</th>
    <th>address</th>
    <th>Bank code</th>
    <th>Swift code</th>
    <th>delete</th>
    <th>Edit</th>
  </tr>
  {%for bank in banks%}
  <tr>
    <td>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div>
            <input type="checkbox" name="t" value="{{bank.id}}" />
          </div>
        </div>
      </div>
    </td>
    <td>{{bank.name}}</td>

    <td>{{bank.address}}</td>
    <td>{{bank.bank_code}}</td>
    <td>{{bank.swift_code}}</td>
    <td>
      <span class="delete-bank-record">
        <input
          type="hidden"
          id="bank{{bank.id}}"
          name="{{bank.id}}"
          value="{{bank.id}}"
        />
        <a href="{{url_for('delete_bank', id=bank.id)}}"
          ><button type="button" class="btn btn-danger delete-bank">
            Delete
          </button></a
        >
      </span>
    </td>
    <td>
      <button type="button" class="btn btn-secondary">Edit</button>
    </td>
  </tr>

  {%endfor%}
</table>
{%if banks%}
  {%if banks.has_prev%}
  <a href="{{url_for('banks',page=banks.page-1,per_page=banks.per_page)}}">previous page</a>-
  {%endif%}
  {{banks.page}}
  {%if banks.has_next%}
      -<a href="{{url_for('banks',page=banks.page+1,per_page=banks.per_page)}}">next page</a>
  {%endif%}

{%endif%}

{%endif%} {%endif%} {%endblock%}
