{%extends 'structure.html'%}

{%block maincontent%}
    <a class="btn btn-outline-primary" href="{{url_for('add_client')}}" role="button">Add new Client</a>
    {%if message|length %}
        <div class="alert alert-success" role="alert">
            {{message}}
        </div>
    {%endif%}
    {%if clients|length %}
        <table  class="table">
            <tr>
                <th>
                    <div class="btn-group">
                      <button type="button" class="btn btn-info">Select action</button>
                      <button type="button"
                              class="btn btn-info dropdown-toggle dropdown-toggle-split"
                              data-toggle="dropdown"
                              data-bs-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false">
                      </button>
                      <div class="dropdown-menu" id="command">
                        <a class="dropdown-item" href="#">Delete selected records</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
<!--                        <div class="dropdown-divider"></div>-->
<!--                        <a class="dropdown-item" href="#">Separated link</a>-->
                      </div>
                    </div>

                </th>
                <th>Name</th>
                <th>Person identification number</th>
                <th>Phone number</th>
                <th>delete</th>
                <th>Edit</th>
            </tr>
            {%for client in clients%}
            <tr>
                <td>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <div>
                          <input type="checkbox" name="t" value="{{client.id}}">
                        </div>
                      </div>
                    </div>
                </td>
                <td>{{client.first_name}}&nbsp;{{client.last_name}}</td>
                <td>{{client.pin}}</td>
                <td>{{client.phone}}</td>
                <td>
                    <span class="delete-client-record">
                        <input type="hidden" id="client{{client.id}}" name="{{client.id}}" value="{{client.id}}">
                        <a href="{{url_for('delete_client', id=client.id)}}"><button type="button" class="btn btn-danger delete-client"> Delete</button></a>
                    </span>

                </td>
                <td>
                    <button type="button" class="btn btn-secondary">Edit</button>
                </td>
            </tr>

            {%endfor%}
        </table>
    {%endif%}




{%endblock%}