{%extends 'structure.html'%} {%block maincontent%} {%if message|length %}
<div class="alert alert-success" role="alert">{{message}}</div>
{%endif%} 
{%if clients %}
<table class="table">
  <tr>
    {%if current_user.is_authenticated%}
    <th>
      <div class="btn-group">
        <button type="button" class="btn btn-info">Select action</button>
        <button
          type="button"
          class="btn btn-info dropdown-toggle dropdown-toggle-split"
          data-toggle="dropdown"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        ></button>
        <div class="dropdown-menu" id="command">
          <a class="dropdown-item" href="#">Delete selected records</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <!--                        <div class="dropdown-divider"></div>-->
          <!--                        <a class="dropdown-item" href="#">Separated link</a>-->
        </div>
      </div>
    </th>
    {%endif%}
    <th>Name</th>
    <th>Person identification number</th>
    <th>Phone number</th>
    {%if current_user.is_authenticated%}
    <th>delete</th>
    <th>Edit</th>
    {%endif%}
  </tr>
  {%for client in clients%}
  <tr>
    {%if current_user.is_authenticated%}
    <td>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div>
            <input type="checkbox" name="t" value="{{client.id}}" />
          </div>
        </div>
      </div>
    </td>
    {%endif%}
    <td>{{client.first_name}}&nbsp;{{client.last_name}}</td>
    <td>{{client.pin}}</td>
    <td>{{client.phone}}</td>
    {%if current_user.is_authenticated%}
    <td>
      <span class="delete-client-record">
        <input
          type="hidden"
          id="client{{client.id}}"
          name="{{client.id}}"
          value="{{client.id}}"
        />
        <a href="{{url_for('delete_client', id=client.id)}}"
          ><button type="button" class="btn btn-danger delete-client">
            Delete
          </button></a
        >
      </span>
    </td>
    <td>
      <button type="button" class="btn btn-secondary">Edit</button>
    </td>
    {%endif%}
  </tr>

  {%endfor%}
</table>
{%if clients%}
{{ clients.first }} - {{ clients.last }} of {{ clients.total }}<br>    
{%for page in clients.iter_pages(left_edge=5, right_edge=5, left_current=1,right_current=1)%} 
      {%if page%} 
        {%if clients.page == page%} 
          <ahref="{{url_for('clients',page=page)}}">{{page}}</a>
        {%else%} 
          <a href="{{url_for('clients',page=page)}}">{{page}}</a>
        {% endif %} 
      {%else%} 
        .. 
      {%endif%} 
    {%endfor%}
    
{%endif%}
{%if current_user.is_authenticated%}
<a
  class="btn btn-outline-primary"
  href="{{url_for('add_client')}}"
  role="button"
  >Add new Client</a
>
{%endif%} {%endif%} {%endblock%}
